/CurrencyRatesConsumer/.mvn/
/CurrencyRatesClient/.mvn/
/CurrencyRatesGateway/.mvn/
/CurrencyRatesProvider/.mvn/
/HTTPClient/.mvn/
/MonobankService/.mvn/
/NBUService/.mvn/
/PrivatbankService/.mvn/
/ServiceDiscoveryServer/.mvn/
/.idea/
/CurrencyRatesClient/target/
/CurrencyRatesConsumer/target/
/CurrencyRatesGateway/target/
/CurrencyRatesProvider/target/
/HTTPClient/target/
/MonobankService/target/
/NBUService/target/
/PrivatbankService/target/
/ServiceDiscoveryServer/target/
