/.idea/

/CurrencyRatesLibraries/DAO/.mvn/
/CurrencyRatesLibraries/DTO/.mvn/
/CurrencyRatesLibraries/Enumerators/.mvn/
/CurrencyRatesLibraries/Helpers/.mvn/
/CurrencyRatesLibraries/Interfaces/.mvn/
/CurrencyRatesLibraries/Repository/.mvn/
/CurrencyRatesServices/ApplicationServices/CurrencyRatesClient/.mvn/
/CurrencyRatesServices/ApplicationServices/CurrencyRatesConsumer/.mvn/
/CurrencyRatesServices/ApplicationServices/CurrencyRatesProvider/.mvn/
/CurrencyRatesServices/ApplicationServices/HTTPClient/.mvn/
/CurrencyRatesServices/ApplicationServices/NBUService/.mvn/
/CurrencyRatesServices/ApplicationServices/MonobankService/.mvn/
/CurrencyRatesServices/ApplicationServices/PrivatbankService/.mvn/
/CurrencyRatesServices/UtilityServices/ServiceDiscoveryServer/.mvn/
/CurrencyRatesServices/UtilityServices/CurrencyRatesGateway/.mvn/
/ExceptionHandler/.mvn/

/CurrencyRatesLibraries/DAO/target/
/CurrencyRatesLibraries/DTO/target/
/CurrencyRatesLibraries/Enumerators/target/
/CurrencyRatesLibraries/Helpers/target/
/CurrencyRatesLibraries/Interfaces/target/
/CurrencyRatesLibraries/Repository/target/
/CurrencyRatesServices/ApplicationServices/CurrencyRatesClient/target/
/CurrencyRatesServices/ApplicationServices/CurrencyRatesConsumer/target/
/CurrencyRatesServices/ApplicationServices/CurrencyRatesProvider/target/
/CurrencyRatesServices/ApplicationServices/HTTPClient/target/
/CurrencyRatesServices/ApplicationServices/NBUService/target/
/CurrencyRatesServices/ApplicationServices/MonobankService/target/
/CurrencyRatesServices/ApplicationServices/PrivatbankService/target/
/CurrencyRatesServices/UtilityServices/ServiceDiscoveryServer/target/
/CurrencyRatesServices/UtilityServices/CurrencyRatesGateway/target/
/ExceptionHandler/target/

